@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  background: #000;
  font-family: "Zen Antique Soft", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.flex {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_center_column {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------- header ----------*/
.header_nav {
  padding: 0 !important;
  position: relative;
}
.header_nav_img {
  position: absolute;
  top: 45px;
  left: 50%;
  width: 40%;
  height: auto;
  max-width: 424px;
  transform: translateX(-50%);
  margin-left: -2.5px;
}
.header_nav_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header_nav_img a {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 60%;
}
.header_nav_list {
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: 100%;
}
.header_nav_list li {
  width: 25%;
  border: #000 5px solid;
  background: #fff;
  position: relative;
  line-height: calc(90px - 1.3rem);
  text-align: center;
  font-size: 2.5rem;
  transition: 0.3s all;
}
.header_nav_list li:hover {
  background: #000;
  color: #fff;
}
.header_nav_list li:nth-child(even) span::first-letter {
  color: #8c8c8c;
}
.header_nav_list li span {
  position: absolute;
  top: 23px;
  max-height: 1.3rem;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.3rem;
  font-family: "Yatra One", cursive;
  text-transform: uppercase;
  opacity: 0.9;
}
.header_nav_list li span::first-letter {
  color: #a68308;
}
.header_nav_list li:not(:first-child) {
  border-left: none;
}
.header_nav_list li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

/*---------- hero ----------*/
.hero {
  position: relative;
  height: calc(100vh - 90px);
  background-image: url("../../img/hero.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  margin-block-end: 100px;
}
.hero_txt {
  position: absolute;
  bottom: 90px;
  left: 100px;
  color: #fff;
}
.hero_txt_title {
  font-size: 50px;
  line-height: 85px;
}
.hero_txt_subtitle {
  font-size: 5rem;
  text-align: center;
}
.hero_txt_entitle {
  font-size: 2rem;
  font-family: "Yatra One", cursive;
  text-transform: uppercase;
}
.hero_txt_entitle::first-letter {
  color: #8c8c8c;
}

/*---------- otherlink ----------*/
.otherlink {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 450px 450px;
}
.otherlink_company {
  grid-column: 1/3;
  background: #fff;
  background-image: url("../../img/section-back1.jpg");
  background-size: cover;
  background-position: center;
}
.otherlink_company_inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.otherlink_company_inner .link_btn {
  align-self: flex-end;
  margin-bottom: 10px;
  position: relative;
}
.otherlink_company_inner .link_btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.otherlink_company_in {
  position: relative;
  width: 385px;
  height: auto;
  aspect-ratio: 1/1;
  z-index: 1;
}
.otherlink_welfare {
  position: relative;
  background: #eee;
  background-image: url("../../img/section-back3.jpg");
  background-size: cover;
  background-position: center;
}
.otherlink_welfare:hover .otherlink_welfare_content {
  background: #000;
}
.otherlink_welfare_content {
  transition: all 0.3s;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75%;
  max-width: 550px;
  height: 50%;
  background: rgba(49, 49, 49, 0.3764705882);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding-block: 30px;
}
.otherlink_welfare_content h1 {
  width: 70%;
  font-size: 5rem;
  text-align: center;
  white-space: nowrap;
}
.otherlink_welfare_content p {
  margin-top: 20px;
  width: 70%;
  font-size: 2rem;
  text-align: center;
}
.otherlink_message {
  position: relative;
  background: #ddd;
  background-image: url("../../img/section-back2.jpg");
  background-size: cover;
  background-position: center;
}
.otherlink_message:hover .otherlink_message_content {
  background: #000;
}
.otherlink_message_content {
  transition: all 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75%;
  max-width: 550px;
  height: 50%;
  background: rgba(49, 49, 49, 0.3764705882);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding-block: 30px;
}
.otherlink_message_content h1 {
  width: 70%;
  font-size: 5rem;
  text-align: center;
  white-space: nowrap;
}
.otherlink_message_content p {
  margin-top: 20px;
  width: 70%;
  font-size: 2rem;
  text-align: center;
}

/*---------- go requirements ----------*/
.go_requirements_content {
  position: relative;
  background: #fff;
  padding: 45px;
  padding-block-end: 150px;
}
.go_requirements_content::before {
  content: "";
  position: absolute;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  top: 8px;
  left: 8px;
  border: 5px solid #000;
}
.go_requirements_content_job {
  min-width: 280px;
  height: 240px;
  margin-inline: 5%;
  color: #fff;
}
.go_requirements_content_job .new {
  transform: translate(25px, 25px);
  position: relative;
  font-size: 4rem;
  width: 125px;
  height: 125px;
  z-index: 1;
  text-align: center;
}
.go_requirements_content_job .new::before {
  position: absolute;
  content: "";
  transform: rotate(45deg);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: -1;
}
.go_requirements_content_job .old {
  transform: translate(25px, 25px);
  right: -85px;
  top: -10px;
  position: relative;
  font-size: 3rem;
  width: 85px;
  height: 85px;
  z-index: 1;
  text-align: center;
}
.go_requirements_content_job .old::before {
  position: absolute;
  content: "";
  transform: rotate(45deg);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: -1;
}
.go_requirements_content_job .part {
  transform: translate(25px, 25px);
  top: -160px;
  right: -150px;
  position: relative;
  font-size: 1.8rem;
  width: 85px;
  height: 85px;
  z-index: 1;
  text-align: center;
  white-space: nowrap;
}
.go_requirements_content_job .part::before {
  position: absolute;
  content: "";
  transform: rotate(45deg);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: -1;
}
.go_requirements_content_txt {
  text-align: center;
  max-width: 550px;
}
.go_requirements_content_txt h1 {
  font-size: 4rem;
}
.go_requirements_content_txt h1 span {
  font-size: 5rem;
  color: #8c8c8c;
}
.go_requirements_content_txt h1 span:first-child {
  color: #a68308;
}
.go_requirements_content_txt p {
  font-size: 2rem;
}
.go_requirements_content_txt p:first-of-type {
  margin-block-start: 50px;
  margin-block-end: 30px;
}
.go_requirements_content .link_btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
}
.go_requirements_content .link_btn::before {
  width: 100%;
  text-align: center;
  height: auto;
  position: absolute;
  content: "24卒エントリー受付中";
  font-size: 1.7rem;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
}

.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*---------- footer ----------*/
.footer {
  width: 100%;
  min-height: 212.5px;
  background: #fff;
  margin-block-start: 312px;
}
.footer_content {
  position: relative;
  height: 100%;
}
.footer_content_half {
  padding-block: 20px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.footer_content_list li:not(:first-child) {
  margin-block-start: 10px;
}
.footer_content_logo {
  position: absolute;
  top: -212.5px;
  left: 50%;
  transform: translateX(-50%);
  width: 425px;
  height: 425px;
}
.footer_content_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*---------- company page ----------*/
.company_about {
  width: 100%;
}
.company_about_one {
  width: 100%;
  height: 425px;
  background-image: url(../../img/section-back1.jpg);
  background-size: cover;
  background-position: center;
  justify-content: flex-start;
}
.company_about_one:nth-of-type(2) {
  background-image: url(../../img/section-back2.jpg);
}
.company_about_one:nth-of-type(2) .inner {
  display: flex;
  justify-content: flex-end;
}
.company_about_one_in {
  position: relative;
  width: 385px;
  height: auto;
  aspect-ratio: 1/1;
  z-index: 1;
}
.company_about_one_in::after {
  position: absolute;
  content: "";
  transform: rotate(-45deg);
  z-index: 999;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: #fff;
  border: 5px solid #000;
  z-index: -1;
}
.company_about_one_in::before {
  position: absolute;
  content: "";
  transform: rotate(-45deg);
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -2;
}
.company_about_one_in .rotate {
  text-align: center;
  align-items: center;
}
.company_about_one_in .rotate h1 {
  font-size: 5rem;
  margin-bottom: 30px;
}
.company_about_one_in .rotate_txt {
  font-size: 2rem;
  width: 80%;
}

.company_overview {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
}
.company_overview_content {
  position: relative;
  width: 100%;
  height: auto;
}
.company_overview_content_list {
  padding: 10%;
  position: relative;
  z-index: 999;
}
.company_overview_content_list li {
  padding: 20px 30px;
  display: flex;
  font-size: 2rem;
  color: #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.company_overview_content_list li:not(:first-child) {
  border-top: none;
}
.company_overview_content_list li .title {
  width: 25%;
}

.test {
  width: 100vw;
  height: 500px;
  background: #fff;
}

/*---------- requirements page ----------*/
.requirements_archive {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.requirements_archive_one {
  position: relative;
  width: 35%;
  margin: 7.5%;
  aspect-ratio: 1/1;
  background: #fff;
  transition: all 0.3s;
  z-index: 999;
}
.requirements_archive_one::after {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  transform: rotate(45deg);
  z-index: -1;
}
.requirements_archive_one a {
  position: absolute;
  border: 5px solid #000;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.requirements_archive_one:hover {
  filter: brightness(0.8);
  transform: scale(0.99);
}
.requirements_archive_one_img {
  width: 100%;
  height: 60%;
}
.requirements_archive_one_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.requirements_archive_one_txt {
  position: relative;
  width: 100%;
  height: 40%;
}
.requirements_archive_one_txt h2 {
  font-size: 2rem;
  z-index: 3;
}
.requirements_archive_one_txt .triangle {
  position: absolute;
  font-size: 1.7rem;
  z-index: 2;
  top: 23%;
  left: 21%;
  color: #fff;
  transform: rotate(-30deg);
}
.requirements_archive_one_txt .triangle::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 37px solid transparent;
  border-left: 37px solid transparent;
  border-top: 65px solid #a68308;
  border-bottom: 0;
  z-index: -1;
}

/*---------- single requirements ----------*/
.requirements_single_content {
  position: relative;
}
.requirements_single_content .black {
  z-index: 99;
  position: absolute;
  background: #000;
  height: 85px;
  width: calc(100% - 20px);
  top: 10px;
  left: 10px;
  font-size: 3rem;
  color: #fff;
}
.requirements_single_content_list {
  padding: calc(10% + 85px) 10% 10% 10%;
  position: relative;
  z-index: 999;
}
.requirements_single_content_list li {
  padding: 20px 30px;
  display: flex;
  font-size: 2rem;
  color: #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.requirements_single_content_list li:not(:first-child) {
  border-top: none;
}
.requirements_single_content_list li .title {
  width: 25%;
}
.requirements_single_content_list li .value {
  width: 75%;
}

/*---------- welfare ----------*/
.welfare {
  width: 100%;
}
.welfare_content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.welfare_content_one {
  width: 385px;
  height: auto;
  aspect-ratio: 1/1;
  z-index: 1;
  margin: 7%;
}
.welfare_content_one_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welfare_content_one_title h1 {
  font-size: 5rem;
  text-align: center;
}
.welfare_content_one_title_img {
  width: 25%;
  height: auto;
}
.welfare_content_one_title_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.welfare_content_one p {
  text-align: center;
  font-size: 2rem;
  height: 40%;
}
.welfare_content_one p span {
  font-size: 4rem;
  border-bottom: 2px solid #000;
}

/*---------- entry ----------*/
.entry_content {
  margin-inline: auto;
  max-width: 900px;
  padding: 10%;
}
.entry_content_form {
  position: relative;
  z-index: 999;
}

.wrapper {
  padding-block: 100px;
}

.inner {
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 15px;
}
@media screen and (max-width: 768px) {
  .inner {
    padding-inline: 10px;
  }
}

/*---------- linkbtn ----------*/
.link_btn {
  position: relative;
  width: 250px;
  height: 90px;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  background: #000;
  border: 5px solid #fff;
  transition: all 0.3s;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1450980392);
}
.link_btn a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  height: 0;
}
.link_btn:hover {
  background: #fff;
  color: #000;
  border: 5px solid #000;
}

/*---------- 黒枠フレーム ----------*/
.black_frame {
  background: #fff;
  position: relative;
}
.black_frame::before {
  position: absolute;
  content: "";
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  top: 10px;
  left: 10px;
  background: #fff;
  border: 5px solid #000;
}

/*---------- 白黒フレーム ----------*/
.bwframe {
  position: relative;
  z-index: -2;
}
.bwframe::after {
  position: absolute;
  content: "";
  transform: rotate(-45deg);
  z-index: 999;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: #fff;
  border: 5px solid #000;
  z-index: -1;
}
.bwframe::before {
  position: absolute;
  content: "";
  transform: rotate(-45deg);
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -2;
}
.bwframe .rotate {
  text-align: center;
  align-items: center;
}
.bwframe .rotate h1 {
  font-size: 5rem;
  margin-bottom: 30px;
}
.bwframe .rotate_txt {
  font-size: 2rem;
  width: 80%;
}/*# sourceMappingURL=style.css.map */